.header-nav .toggler-icon {
  display: none;
}

.header-nav .nav-bar {
  margin: 0;
  padding: 0;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav .nav-bar .nav-item {
  position: relative;
  list-style: none;
  margin-left: 45px;
}

.header-nav .nav-bar .nav-item::after {
  margin: 0 auto;
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #037693;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.header-nav .nav-bar .nav-item:first-child {
  margin-left: 0;
}

.header-nav .nav-bar .nav-item:hover::after {
  width: 100%;
}

.header-nav .nav-bar .nav-item .nav-link {
  padding: 0;
  font-size: 22px;
  font-weight: 400;
  color: #f5f5f5;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}

.header-nav .nav-bar .nav-item .nav-link:hover {
  color: #037693;
}

@media only screen and (max-width: 1199px) {
  .header-nav .nav-bar .nav-item {
    margin-left: 30px;
  }
  .header-nav .nav-bar .nav-item .nav-link {
    font-size: 20px;
  }
}

@media only screen and (max-width: 991px) {
  .header-nav {
    position: relative;
    width: 100%;
  }
  .header-nav .toggler-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 45px;
    background: transparent;
    border: 1.5px solid #fff;
    cursor: pointer;
    -webkit-transition: all, 1.0s;
    transition: all, 1.0s;
  }
  .header-nav .toggler-icon:hover {
    background: #0c6fd5;
  }
  .header-nav .toggler-icon div {
    width: 25px;
    height: 1.5px;
    background: #fff;
    margin-top: 5px;
    -webkit-transition: all, 0.3s;
    transition: all, 0.3s;
  }
  .header-nav .toggler-icon div:first-child {
    margin-top: 0;
  }
  .header-nav .toggler-icon_close div {
    width: 30px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
  }
  .header-nav .toggler-icon_close div:first-child {
    margin-top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .header-nav .toggler-icon_close div:nth-child(2) {
    margin-top: -2px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .header-nav .toggler-icon_close div:last-child {
    display: none;
  }
  .header-nav .nav-bar {
    display: none;
    position: absolute;
    top: 45px;
    left: 0%;
    width: 100%;
    z-index: 10;
    background: #121111;
  }
  .header-nav .nav-bar .nav-item {
    position: relative;
    margin-left: 0;
    padding-top: 20px;
    margin-bottom: 0;
    border-top: none;
    padding-bottom: 20px;
  }
  .header-nav .nav-bar .nav-item::after {
    position: relative;
    content: '';
    display: block;
    width: 0;
    margin: 0 auto;
    height: 2px;
    background: #037693;
    -webkit-transition: width .5s;
    transition: width .5s;
  }
  .header-nav .nav-bar .nav-item:hover {
    background: #000;
  }
  .header-nav .nav-bar .nav-item:hover::after {
    width: 100%;
  }
  .header-nav .nav-bar .nav-item .nav-link {
    color: #fff;
    text-align: center;
  }
}

@media only screen and (max-width: 567px) {
  .header-nav .toggler-icon {
    font-size: 26px;
    left: 15%;
  }
  .header-nav .nav-bar {
    left: 0;
    top: 30px;
  }
  .header-nav .nav-bar .nav-item {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Black.ttf);
  font-weight: 900;
}

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Semibold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Thin.ttf);
  font-weight: 100;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Lato, Arial sans-serif;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.header {
  width: 100%;
  background: #121111;
}

.header .row {
  height: 210px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header .row .logo {
  width: 140px;
}

.header .row .user-bar {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.header .row .user-bar div {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #f5f5f5;
  cursor: pointer;
  -webkit-transition: all, .3s;
  transition: all, .3s;
}

.header .row .user-bar div span {
  font-size: 12px;
  font-weight: 400;
}

.header .row .user-bar div:last-child {
  margin-left: 20px;
}

.header .row .user-bar div:hover {
  color: #037693;
}

@media only screen and (max-width: 1199px) {
  .header .row {
    height: 200px;
  }
  .header .row .logo {
    width: 120px;
  }
}

@media only screen and (max-width: 991px) {
  .header .container {
    width: 100%;
  }
  .header .row {
    height: 100px;
  }
  .header .row .logo {
    width: 70px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 7%;
  }
  .header .row .user-bar {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 7%;
  }
}

@media only screen and (max-width: 567px) {
  .header .row {
    height: 70px;
  }
  .header .row .logo {
    display: none;
  }
}

#banner {
  width: 100%;
  padding-top: 350px;
  background: url(../img/banner.jpg) no-repeat center/cover;
  position: relative;
}

#banner .banner-info {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

#banner .banner-info__title {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-bottom: 50px;
}

#banner .banner-info__title h2 {
  margin: 0;
  font-size: 45px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 20px;
  text-shadow: -4px 5px 0px black;
}

#banner .banner-info__title_line {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 15px;
}

#banner .banner-info__title_line div {
  height: 7px;
  border-radius: 5px;
  background: #fff;
}

#banner .banner-info__title_line div:nth-child(1) {
  width: 12px;
  margin-right: 28px;
}

#banner .banner-info__title_line div:nth-child(2) {
  width: 24px;
  margin-right: 14px;
}

#banner .banner-info__title_line div:nth-child(3) {
  width: 338px;
}

#banner .banner-info__discr {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 100px;
}

#banner .banner-info__btns {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#banner .banner-info__btns div {
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  padding: 10px 15px;
  cursor: pointer;
  border: 2px solid #fff;
  -webkit-transition: all, .5s;
  transition: all, .5s;
}

#banner .banner-info__btns div:hover {
  background: #fff;
  color: #037693;
}

#banner .banner-info__btns div:nth-child(2) {
  margin: 0 20px;
}

#banner .banner-iphone img {
  width: 90%;
  margin-left: 30px;
}

#banner::before {
  background: rgba(0, 0, 0, 0.6);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

@media only screen and (max-width: 991px) {
  #banner {
    padding-top: 150px;
    padding-bottom: 100px;
  }
  #banner .banner-info {
    margin-top: 0px;
  }
  #banner .banner-info__title {
    margin-bottom: 30px;
  }
  #banner .banner-info__title h2 {
    font-size: 42px;
    margin-bottom: 5px;
  }
  #banner .banner-info__title_line {
    margin-right: 10px;
  }
  #banner .banner-info__title_line div {
    height: 5px;
  }
  #banner .banner-info__title_line div:nth-child(1) {
    width: 7px;
    margin-right: 18px;
  }
  #banner .banner-info__title_line div:nth-child(2) {
    width: 14px;
    margin-right: 10px;
  }
  #banner .banner-info__title_line div:nth-child(3) {
    width: 250px;
  }
  #banner .banner-info__discr {
    margin-bottom: 75px;
  }
  #banner .banner-info__btns div {
    font-size: 18px;
  }
}

@media only screen and (max-width: 767px) {
  #banner {
    padding-top: 100px;
    padding-bottom: 75px;
  }
  #banner .banner-info {
    margin-top: 0px;
  }
  #banner .banner-info__title {
    margin-bottom: 30px;
  }
  #banner .banner-info__title h2 {
    font-size: 36px;
    margin-bottom: 5px;
  }
  #banner .banner-info__title_line {
    margin-right: 3px;
  }
  #banner .banner-info__title_line div {
    height: 5px;
  }
  #banner .banner-info__title_line div:nth-child(1) {
    width: 5px;
    margin-right: 15px;
  }
  #banner .banner-info__title_line div:nth-child(2) {
    width: 10px;
    margin-right: 10px;
  }
  #banner .banner-info__title_line div:nth-child(3) {
    width: 150px;
  }
  #banner .banner-info__discr {
    margin-bottom: 55px;
  }
  #banner .banner-info__btns div {
    font-size: 16px;
  }
}

@media only screen and (max-width: 567px) {
  #banner {
    padding-top: 75px;
    padding-bottom: 50px;
  }
  #banner .banner-info {
    margin-top: 0px;
  }
  #banner .banner-info__title {
    margin-bottom: 30px;
  }
  #banner .banner-info__title h2 {
    font-size: 32px;
  }
  #banner .banner-info__title_line {
    display: none;
  }
  #banner .banner-info__discr {
    margin-bottom: 50px;
    font-size: 16px;
  }
  #banner .banner-info__btns {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  #banner .banner-info__btns div {
    margin: 10px;
  }
  #banner .banner-info__btns div:nth-child(2) {
    margin: 10px;
  }
}

.section-title {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 150px;
  margin-bottom: 100px;
}

.section-title__heading {
  margin: 0;
  font-size: 52px;
  font-weight: 300;
  color: #037693;
  text-align: center;
}

.section-title__line {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-title__line div {
  margin-left: 4px;
  margin-top: 5px;
  height: 4px;
  border-radius: 5px;
  background: #037693;
}

.section-title__line div:nth-child(1) {
  width: 100px;
  margin-right: 12px;
}

.section-title__line div:nth-child(2) {
  width: 17px;
}

#howItWorks {
  padding-bottom: 150px;
}

.howItWorks__block {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 220px;
}

.howItWorks__block div {
  width: 162px;
  height: 162px;
  border: 1px solid #037693;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #fff;
  -webkit-transition: all, .5s;
  transition: all, .5s;
}

.howItWorks__block div img {
  height: 45%;
}

.howItWorks__block span {
  margin-top: 40px;
  font-size: 20px;
  font-weight: 400;
  color: #037693;
  text-align: center;
  -webkit-transition: all, .5s;
  transition: all, .5s;
}

.howItWorks__block:hover div {
  background: #037693;
}

.howItWorks__block:hover div img {
  -webkit-filter: brightness(0%);
  filter: brightness(0%);
}

.howItWorks__block:hover span {
  color: #000;
}

@media only screen and (max-width: 1199px) {
  .section-title {
    margin-top: 120px;
    margin-bottom: 100px;
  }
  .section-title__heading {
    font-size: 46px;
  }
  .section-title__line div {
    margin-left: 4px;
    margin-top: 4px;
  }
  .section-title__line div:nth-child(1) {
    width: 90px;
    margin-right: 10px;
  }
  .section-title__line div:nth-child(2) {
    width: 15px;
  }
  #howItWorks {
    padding-bottom: 120px;
  }
  .howItWorks__block {
    width: 220px;
  }
  .howItWorks__block div {
    width: 162px;
    height: 162px;
  }
  .howItWorks__block span {
    margin-top: 30px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 991px) {
  .section-title {
    margin-top: 100px;
    margin-bottom: 75px;
  }
  .section-title__heading {
    font-size: 40px;
  }
  .section-title__line div {
    height: 4px;
    margin-left: 3px;
    margin-top: 2px;
  }
  .section-title__line div:nth-child(1) {
    width: 75px;
    margin-right: 7px;
  }
  .section-title__line div:nth-child(2) {
    width: 10px;
  }
  #howItWorks {
    padding-bottom: 100px;
  }
  #howItWorks .container .row:nth-child(2) {
    margin-top: -30px;
  }
  .howItWorks__block {
    width: 210px;
    margin: 30px;
  }
  .howItWorks__block div {
    width: 162px;
    height: 162px;
  }
  .howItWorks__block span {
    margin-top: 25px;
    font-size: 18px;
  }
}

@media only screen and (max-width: 767px) {
  .section-title {
    margin-top: 75px;
    margin-bottom: 50px;
  }
  .section-title__heading {
    font-size: 36px;
  }
  .section-title__line div {
    height: 3px;
    margin-left: 3px;
    margin-top: 2px;
  }
  .section-title__line div:nth-child(1) {
    width: 50px;
    margin-right: 5px;
  }
  .section-title__line div:nth-child(2) {
    width: 10px;
  }
  #howItWorks {
    padding-bottom: 75px;
  }
  .howItWorks__block {
    width: 190px;
  }
  .howItWorks__block div {
    width: 125px;
    height: 125px;
  }
  .howItWorks__block span {
    margin-top: 20px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 567px) {
  .section-title {
    margin-top: 50px;
    margin-bottom: 40px;
  }
  .section-title__heading {
    font-size: 32px;
  }
  .section-title__line div {
    height: 2px;
    margin-left: 2px;
    margin-top: 2px;
  }
  .section-title__line div:nth-child(1) {
    width: 50px;
    margin-right: 5px;
  }
  .section-title__line div:nth-child(2) {
    width: 10px;
  }
  #howItWorks {
    padding-bottom: 50px;
  }
  #howItWorks .container .row:nth-child(2) {
    margin-top: -25px;
  }
  .howItWorks__block {
    width: 190px;
    margin: 25px 0;
  }
  .howItWorks__block span {
    margin-top: 10px;
  }
}

.vertical-title {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: absolute;
}

.vertical-title__sircle {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: #fff;
}

.vertical-title__line {
  width: 95px;
  height: 1.5px;
  background: #fff;
}

.vertical-title__text {
  font-size: 24px;
  font-weight: 300;
  color: #fff;
  margin-bottom: 5px;
  margin-left: 7px;
}

#interaction {
  width: 100%;
  background: #037693;
  padding: 75px 0;
}

#interaction .row {
  position: relative;
}

#interaction .row .vertical-title {
  top: 50px;
  left: -72px;
}

#interaction .row .interaction-block {
  color: #fff;
  padding-right: 125px;
  margin-bottom: 25px;
}

#interaction .row .interaction-block__title {
  font-size: 42px;
  font-weight: 600;
  margin: 0;
}

#interaction .row .interaction-block__subtitle {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin: 25px 0 50px;
}

#interaction .row .interaction-block__subtitle span {
  font-size: 24px;
  font-weight: 300;
}

#interaction .row .interaction-block__subtitle div {
  width: 125px;
  height: 1px;
  background: #fff;
  margin-bottom: 8px;
  margin-left: 5px;
}

#interaction .row .interaction-block__text {
  font-size: 16px;
  font-weight: 300;
}

#interaction .row .inter-blocks {
  position: relative;
}

#interaction .row .inter-blocks .inter-block {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 1.5px solid #f1b451;
  border-radius: 5px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#interaction .row .inter-blocks .inter-block__inside {
  width: 175px;
  height: 175px;
  background: #f1b451;
  border-radius: 5px;
}

#interaction .row .inter-blocks .inter-block__inside_rotate {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 11px;
  margin-top: 15px;
}

#interaction .row .inter-blocks .inter-block__inside_rotate img {
  width: 75px;
}

#interaction .row .inter-blocks .inter-block__inside_rotate span {
  width: 110px;
  margin-top: 5px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

#interaction .row .inter-blocks .inter-block:nth-child(1) {
  top: 10px;
  left: -20px;
}

#interaction .row .inter-blocks .inter-block:nth-child(2) {
  top: 269px;
  left: -20px;
}

#interaction .row .inter-blocks .inter-block:nth-child(3) {
  top: 139px;
  left: 145px;
}

@media only screen and (max-width: 1199px) {
  #interaction {
    padding: 100px 0;
  }
  #interaction .row .vertical-title {
    top: 150px;
    left: -79px;
  }
  #interaction .row .interaction-block {
    margin-top: 90px;
    margin-bottom: 60px;
  }
  #interaction .row .inter-blocks {
    position: relative;
  }
  #interaction .row .inter-blocks .inter-block:nth-child(1) {
    top: 10px;
    left: -20px;
  }
  #interaction .row .inter-blocks .inter-block:nth-child(2) {
    top: 269px;
    left: -20px;
  }
  #interaction .row .inter-blocks .inter-block:nth-child(3) {
    top: 528px;
    left: -20px;
  }
}

@media only screen and (max-width: 991px) {
  #interaction {
    padding: 75px 0;
  }
  #interaction .row .vertical-title {
    top: 75px;
    left: 75%;
  }
  #interaction .row .interaction-block {
    margin-top: 20px;
    padding-right: 125px;
    margin-bottom: 225px;
  }
  #interaction .row .interaction-block__title {
    font-size: 34px;
    text-align: center;
  }
  #interaction .row .interaction-block__subtitle {
    margin: 30px 0 30px;
  }
  #interaction .row .interaction-block__subtitle span {
    font-size: 20px;
  }
  #interaction .row .interaction-block__subtitle div {
    width: 100px;
    margin-bottom: 7px;
    margin-left: 3px;
  }
  #interaction .row .interaction-block__text {
    font-size: 14px;
  }
  #interaction .row .inter-blocks .inter-block {
    width: 150px;
    height: 150px;
  }
  #interaction .row .inter-blocks .inter-block__inside {
    width: 135px;
    height: 135px;
  }
  #interaction .row .inter-blocks .inter-block__inside_rotate {
    margin-left: 8px;
    margin-top: 12px;
  }
  #interaction .row .inter-blocks .inter-block__inside_rotate img {
    width: 50px;
  }
  #interaction .row .inter-blocks .inter-block__inside_rotate span {
    font-size: 15px;
  }
  #interaction .row .inter-blocks .inter-block:nth-child(1) {
    top: -160px;
    left: 80px;
  }
  #interaction .row .inter-blocks .inter-block:nth-child(2) {
    top: -160px;
    left: 275px;
  }
  #interaction .row .inter-blocks .inter-block:nth-child(3) {
    top: -160px;
    left: 470px;
  }
}

@media only screen and (max-width: 767px) {
  #interaction {
    padding: 50px 0;
  }
  #interaction .row .vertical-title {
    top: 75px;
    left: 70%;
  }
  #interaction .row .interaction-block {
    margin-top: 20px;
    padding-right: 125px;
    margin-bottom: 225px;
  }
  #interaction .row .interaction-block__title {
    font-size: 28px;
  }
  #interaction .row .inter-blocks .inter-block:nth-child(1) {
    top: -160px;
    left: 40px;
  }
  #interaction .row .inter-blocks .inter-block:nth-child(2) {
    top: -160px;
    left: 190px;
  }
  #interaction .row .inter-blocks .inter-block:nth-child(3) {
    top: -160px;
    left: 345px;
  }
}

@media only screen and (max-width: 576px) {
  #interaction .row .vertical-title {
    display: none;
  }
  #interaction .row .interaction-block {
    margin-top: 20px;
    padding-right: 30px;
    margin-bottom: 325px;
  }
  #interaction .row .interaction-block__title {
    font-size: 24px;
    max-width: 375px;
    margin: 0 auto;
  }
  #interaction .row .interaction-block__subtitle {
    margin: 20px 0 20px;
  }
  #interaction .row .interaction-block__subtitle span {
    font-size: 18px;
  }
  #interaction .row .interaction-block__subtitle div {
    width: 75px;
    margin-bottom: 5px;
  }
  #interaction .row .inter-blocks {
    width: 300px;
    left: 50%;
    -webkit-transform: translateX(-51%);
    transform: translateX(-51%);
  }
  #interaction .row .inter-blocks .inter-block:nth-child(1) {
    top: -160px;
    left: -20px;
  }
  #interaction .row .inter-blocks .inter-block:nth-child(2) {
    top: -160px;
    left: 176px;
  }
  #interaction .row .inter-blocks .inter-block:nth-child(3) {
    top: -284px;
    left: 79px;
  }
}

@media only screen and (max-width: 445px) {
  #interaction .row .interaction-block {
    margin-bottom: 630px;
  }
  #interaction .row .inter-blocks {
    width: 200px;
    left: 50%;
    -webkit-transform: translateX(-51%);
    transform: translateX(-51%);
  }
  #interaction .row .inter-blocks .inter-block:nth-child(1) {
    top: -570px;
    left: 27px;
  }
  #interaction .row .inter-blocks .inter-block:nth-child(2) {
    top: -374px;
    left: 27px;
  }
  #interaction .row .inter-blocks .inter-block:nth-child(3) {
    top: -178px;
    left: 27px;
  }
}

.features-block {
  margin-bottom: 150px;
}

.features-block__item {
  width: 350px;
  height: 250px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.features-block__item img {
  max-width: 50px;
  max-height: 50px;
}

.features-block__item span {
  font-size: 28px;
  font-weight: 700;
  color: #037693;
  text-align: center;
  margin-top: 30px;
}

.features-block__item::after, .features-block__item::before {
  content: ' ';
  position: absolute;
  background: #037693;
  display: block;
}

.features-block__item::after {
  width: 275px;
  height: 1.5px;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.features-block__item::before {
  width: 1.5px;
  height: 175px;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.features-block__item:nth-child(3)::before {
  display: none;
}

.features-block__item:nth-child(4)::after {
  display: none;
}

.features-block__item:nth-child(5)::after {
  display: none;
}

.features-block__item:nth-child(6)::after {
  display: none;
}

.features-block__item:nth-child(6)::before {
  display: none;
}

@media only screen and (max-width: 1199px) {
  .features-block {
    margin-bottom: 120px;
  }
  .features-block__item {
    width: 320px;
    height: 220px;
  }
  .features-block__item img {
    max-width: 50px;
    max-height: 50px;
  }
  .features-block__item span {
    font-size: 26px;
    margin-top: 25px;
  }
  .features-block__item::after {
    width: 245px;
  }
  .features-block__item::before {
    height: 145px;
  }
}

@media only screen and (max-width: 991px) {
  .features-block {
    margin-bottom: 100px;
  }
  .features-block__item {
    width: 350px;
    height: 250px;
  }
  .features-block__item span {
    font-size: 26px;
    margin-top: 20px;
  }
  .features-block__item::after {
    width: 275px;
  }
  .features-block__item::before {
    height: 175px;
  }
  .features-block__item:nth-child(2)::before {
    display: none;
  }
  .features-block__item:nth-child(3)::before {
    display: block;
  }
  .features-block__item:nth-child(4)::after {
    display: block;
  }
  .features-block__item:nth-child(4)::before {
    display: none;
  }
  .features-block__item:nth-child(5)::after {
    display: none;
  }
  .features-block__item:nth-child(6)::after {
    display: none;
  }
  .features-block__item:nth-child(6)::before {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .features-block {
    margin-bottom: 75px;
  }
  .features-block__item {
    width: 270px;
    height: 175px;
  }
  .features-block__item span {
    font-size: 24px;
    margin-top: 15px;
  }
  .features-block__item::after {
    width: 220px;
  }
  .features-block__item::before {
    height: 120px;
  }
}

@media only screen and (max-width: 567px) {
  .features-block {
    margin-bottom: 10px;
  }
  .features-block__item {
    width: 350px;
    height: 250px;
  }
  .features-block__item span {
    font-size: 26px;
    margin-top: 15px;
  }
  .features-block__item::after {
    width: 275px;
  }
  .features-block__item::before {
    height: 175px;
  }
  .features-block__item:nth-child(1)::before {
    display: none;
  }
  .features-block__item:nth-child(2)::before {
    display: none;
  }
  .features-block__item:nth-child(3)::before {
    display: none;
  }
  .features-block__item:nth-child(4)::after {
    display: block;
  }
  .features-block__item:nth-child(4)::before {
    display: none;
  }
  .features-block__item:nth-child(5)::after {
    display: block;
  }
  .features-block__item:nth-child(5)::before {
    display: none;
  }
  .features-block__item:nth-child(6)::after {
    display: none;
  }
  .features-block__item:nth-child(6)::before {
    display: none;
  }
}

#partners {
  width: 100%;
  background: url(../img/partners__bg.jpg) no-repeat center/cover;
  position: relative;
}

#partners::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

#partners .section-title {
  margin-top: 100px;
  margin-bottom: 75px;
}

#partners .section-title__heading {
  color: #fff;
}

#partners .section-title__line div {
  background: #fff;
}

#partners .slider-block {
  position: relative;
  width: inherit;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

#partners .slider-block .arrow {
  width: 30px;
  height: 50px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 5px;
  background: transparent;
  cursor: pointer;
  position: absolute;
  top: 50%;
  -webkit-transition: all, .5s;
  transition: all, .5s;
}

#partners .slider-block .arrow i {
  font-size: 50px;
  color: #999;
  -webkit-transition: all, .5s;
  transition: all, .5s;
}

#partners .slider-block .arrow:hover {
  background: #037693;
}

#partners .slider-block .arrow:hover i {
  color: #fff;
}

#partners .slider-block .next_arrow {
  right: -3%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#partners .slider-block .prev_arrow {
  left: -3%;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}

#partners .partners-slider {
  margin-bottom: 100px;
}

#partners .partners-slider__slide {
  width: 225px;
  height: 200px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#partners .partners-slider__slide a {
  width: 75%;
  outline: none !important;
}

#partners .partners-slider__slide a img {
  width: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all, .5s;
  transition: all, .5s;
}

#partners .partners-slider__slide:hover a img {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

@media only screen and (max-width: 1199px) {
  #partners .slider-block .next_arrow {
    right: -20px;
  }
  #partners .slider-block .prev_arrow {
    left: -20px;
  }
  #partners .partners-slider__slide {
    width: 192px;
    height: 150px;
  }
}

@media only screen and (max-width: 991px) {
  #partners .section-title {
    margin-top: 75px;
    margin-bottom: 50px;
  }
  #partners .partners-slider {
    margin-bottom: 75px;
  }
  #partners .partners-slider__slide {
    width: 180px;
  }
}

@media only screen and (max-width: 576px) {
  #partners .section-title {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  #partners .partners-slider {
    margin-bottom: 30px;
  }
  #partners .partners-slider__slide {
    width: 150px;
  }
}

@media only screen and (max-width: 569px) {
  #partners .partners-slider__slide {
    width: 170px;
  }
}

@media only screen and (max-width: 479px) {
  #partners .partners-slider__slide {
    width: 195px;
  }
}

@media only screen and (max-width: 425px) {
  #partners .partners-slider__slide {
    width: 165px;
  }
}

@media only screen and (max-width: 350px) {
  #partners .partners-slider__slide {
    width: 135px;
  }
}

#events {
  width: 100%;
  background: #e3e3e3;
  padding-bottom: 120px;
}

.events {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.events .event {
  width: 350px;
  height: 500px;
  background: #fff;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 20px;
  -webkit-transition: all, .3s;
  transition: all, .3s;
  margin: 0 10px;
  -webkit-box-shadow: 0px 0px 25px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 25px 3px rgba(0, 0, 0, 0.75);
}

.events .event__title {
  width: inherit;
  height: 200px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.events .event__title::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.events .event__title h3 {
  font-size: 46px;
  font-weight: 300;
  color: #fff;
  text-align: center;
  z-index: 10;
  text-transform: uppercase;
  -webkit-transition: all, .5s;
  transition: all, .5s;
}

.events .event__title h3 span {
  font-weight: 700;
}

.events .event__line {
  width: inherit;
  height: 5px;
  margin-top: 5px;
}

.events .event__icon {
  height: 60px;
  margin-top: 20px;
  -webkit-transition: all, .5s;
  transition: all, .5s;
}

.events .event__discr {
  margin: 0;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  text-align: center;
}

.events .event__btn {
  padding: 10px 20px;
  border-radius: 30px;
  margin-top: 25px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all, .5s;
  transition: all, .5s;
}

.events .event__btn:hover {
  text-decoration: none;
}

.events .event:nth-child(1) .event__title {
  background: url(../img/event__bg_01.jpg) no-repeat center/cover;
}

.events .event:nth-child(1) .event__title::before {
  background: rgba(76, 165, 154, 0.8);
}

.events .event:nth-child(1) .event__line {
  background: #4ca59a;
}

.events .event:nth-child(1) .event__btn {
  background: #4ca59a;
}

.events .event:nth-child(1) .event__btn:hover {
  background: #347169;
}

.events .event:nth-child(2) .event__title {
  background: url(../img/event__bg_02.jpg) no-repeat center/cover;
}

.events .event:nth-child(2) .event__title::before {
  background: rgba(242, 98, 80, 0.8);
}

.events .event:nth-child(2) .event__line {
  background: #f26250;
}

.events .event:nth-child(2) .event__btn {
  background: #f26250;
}

.events .event:nth-child(2) .event__btn:hover {
  background: #e52811;
}

.events .event:nth-child(3) .event__title {
  background: url(../img/event__bg_03.jpg) no-repeat center/cover;
}

.events .event:nth-child(3) .event__title::before {
  background: rgba(240, 167, 101, 0.8);
}

.events .event:nth-child(3) .event__line {
  background: #f0a765;
}

.events .event:nth-child(3) .event__btn {
  background: #f0a765;
}

.events .event:nth-child(3) .event__btn:hover {
  background: #e97f1f;
}

.events .event_active {
  width: 370px;
  height: 550px;
  margin: -25px -10px;
  z-index: 100;
  padding: 0 30px;
}

.events .event_active .event__title h3 {
  font-size: 56px;
}

.events .event_active .event__icon {
  height: 75px;
}

.events .event_active .event__btn {
  padding: 15px 30px;
}

@media only screen and (max-width: 1199px) {
  #events {
    padding-bottom: 100px;
  }
  .events .event {
    width: 270px;
    height: 520px;
  }
  .events .event__title {
    height: 200px;
  }
  .events .event__title h3 {
    font-size: 38px;
  }
  .events .event__icon {
    height: 50px;
  }
  .events .event__discr {
    font-size: 16px;
  }
  .events .event_active {
    width: 300px;
    height: 570px;
  }
  .events .event_active .event__title h3 {
    font-size: 46px;
  }
  .events .event_active .event__icon {
    height: 65px;
  }
}

@media only screen and (max-width: 991px) {
  #events {
    padding-bottom: 75px;
  }
  .events .event {
    width: 320px;
    height: 460px;
    padding: 0 20px;
    margin: 10px 10px;
  }
  .events .event__title {
    height: 175px;
  }
  .events .event__title h3 {
    font-size: 40px;
  }
  .events .event__icon {
    height: 60px;
  }
  .events .event__discr {
    font-size: 16px;
  }
  .events .event .event__btn {
    padding: 10px 20px;
  }
  .events .event_active {
    width: 320px;
    height: 460px;
    padding: 0 20px;
    margin: 10px 10px;
  }
  .events .event_active .event__title h3 {
    font-size: 40px;
  }
  .events .event_active .event__icon {
    height: 60px;
  }
  .events .event_active .event__btn {
    padding: 10px 20px;
  }
}

@media only screen and (max-width: 767px) {
  #events {
    padding-bottom: 50px;
  }
  .events .event {
    margin: 10px 10px;
  }
  .events .event_active {
    margin: 10px 10px;
  }
}

@media only screen and (max-width: 350px) {
  #events {
    padding-bottom: 50px;
  }
  .events .event {
    width: 275px;
    height: 460px;
    margin: 10px 10px;
  }
  .events .event__title {
    height: 150px;
  }
  .events .event_active {
    width: 275px;
    height: 460px;
    margin: 10px 10px;
  }
}

#about-us {
  width: 100%;
  padding: 75px 0;
}

#about-us .row {
  position: relative;
}

#about-us .row .vertical-title {
  width: 215px;
  top: 50px;
  left: -72px;
}

#about-us .row .vertical-title__text {
  color: #037693;
}

#about-us .row .vertical-title__sircle, #about-us .row .vertical-title__line {
  background: #037693;
}

#about-us .row .about-block {
  color: #000;
}

#about-us .row .about-block__title {
  font-size: 42px;
  font-weight: 600;
  margin: 0;
  color: #037693;
}

#about-us .row .about-block__subtitle {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin: 25px 0 50px;
}

#about-us .row .about-block__subtitle span {
  color: #037693;
  font-size: 24px;
  font-weight: 400;
}

#about-us .row .about-block__subtitle div {
  width: 125px;
  height: 1px;
  background: #037693;
  margin-bottom: 8px;
  margin-left: 5px;
}

#about-us .row .about-block__text {
  font-size: 16px;
  font-weight: 300;
}

#about-us .row .statistic {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-item-align: center;
  align-self: center;
}

#about-us .row .statistic-block {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#about-us .row .statistic-block__circle {
  width: 70px;
  height: 70px;
  border-radius: 70px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#about-us .row .statistic-block__circle div {
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 50px;
}

#about-us .row .statistic-block__amount {
  margin-top: 15px;
  font-size: 38px;
  font-weight: 400;
}

#about-us .row .statistic-block__event {
  font-size: 22px;
  font-weight: 300;
  color: #2d2d2d;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 15px;
}

#about-us .row .statistic-block__line {
  width: 170px;
  height: 5px;
}

#about-us .row .statistic-block:nth-child(1) .statistic-block__circle {
  background: #a5d2cc;
}

#about-us .row .statistic-block:nth-child(1) .statistic-block__circle div {
  background: #4ca59a;
}

#about-us .row .statistic-block:nth-child(1) .statistic-block__amount {
  color: #4ca59a;
}

#about-us .row .statistic-block:nth-child(1) .statistic-block__line {
  background: #4ca59a;
}

#about-us .row .statistic-block:nth-child(2) .statistic-block__circle {
  background: #f8b0a7;
}

#about-us .row .statistic-block:nth-child(2) .statistic-block__circle div {
  background: #f26250;
}

#about-us .row .statistic-block:nth-child(2) .statistic-block__amount {
  color: #f26250;
}

#about-us .row .statistic-block:nth-child(2) .statistic-block__line {
  background: #f26250;
}

#about-us .row .statistic-block:nth-child(3) .statistic-block__circle {
  background: #f7d3b2;
}

#about-us .row .statistic-block:nth-child(3) .statistic-block__circle div {
  background: #f0a765;
}

#about-us .row .statistic-block:nth-child(3) .statistic-block__amount {
  color: #f0a765;
}

#about-us .row .statistic-block:nth-child(3) .statistic-block__line {
  background: #f0a765;
}

@media only screen and (max-width: 1199px) {
  #about-us {
    padding: 100px 0;
  }
  #about-us .row .vertical-title {
    top: 50px;
    left: -79px;
  }
  #about-us .row .statistic {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  #about-us .row .statistic-block {
    margin: 20px 0;
  }
  #about-us .row .statistic-block__circle {
    width: 70px;
    height: 70px;
    border-radius: 70px;
  }
  #about-us .row .statistic-block__circle div {
    width: 50px;
    height: 50px;
    border-radius: 50px;
  }
  #about-us .row .statistic-block__amount {
    margin-top: 15px;
    font-size: 38px;
  }
  #about-us .row .statistic-block__event {
    font-size: 22px;
    margin-top: 5px;
    margin-bottom: 15px;
  }
  #about-us .row .statistic-block__line {
    width: 170px;
    height: 5px;
  }
}

@media only screen and (max-width: 991px) {
  #about-us {
    padding: 75px 0;
  }
  #about-us .row .vertical-title {
    top: 75px;
    left: 75%;
  }
  #about-us .row .about-block {
    padding-right: 125px;
  }
  #about-us .row .about-block__title {
    font-size: 34px;
    text-align: center;
  }
  #about-us .row .about-block__subtitle {
    margin: 30px 0 30px;
  }
  #about-us .row .about-block__subtitle span {
    font-size: 20px;
  }
  #about-us .row .about-block__subtitle div {
    width: 100px;
    margin-bottom: 7px;
    margin-left: 3px;
  }
  #about-us .row .about-block__text {
    font-size: 14px;
  }
  #about-us .row .statistic {
    margin-top: 30px;
  }
  #about-us .row .statistic-block {
    margin: 20px 0;
  }
  #about-us .row .statistic-block__circle {
    width: 70px;
    height: 70px;
    border-radius: 70px;
  }
  #about-us .row .statistic-block__circle div {
    width: 50px;
    height: 50px;
    border-radius: 50px;
  }
  #about-us .row .statistic-block__amount {
    margin-top: 15px;
    font-size: 38px;
  }
  #about-us .row .statistic-block__event {
    font-size: 22px;
    margin-top: 5px;
    margin-bottom: 15px;
  }
  #about-us .row .statistic-block__line {
    width: 170px;
    height: 5px;
  }
}

@media only screen and (max-width: 767px) {
  #about-us {
    padding: 50px 0;
  }
  #about-us .row .vertical-title {
    top: 75px;
    left: 70%;
  }
  #about-us .row .about-block {
    padding-right: 125px;
  }
  #about-us .row .about-block__title {
    font-size: 28px;
  }
  #about-us .row .statistic-block {
    margin: 20px 10px;
  }
  #about-us .row .statistic-block__circle {
    width: 50px;
    height: 50px;
    border-radius: 50px;
  }
  #about-us .row .statistic-block__circle div {
    width: 30px;
    height: 30px;
    border-radius: 30px;
  }
  #about-us .row .statistic-block__amount {
    margin-top: 15px;
    font-size: 32px;
  }
  #about-us .row .statistic-block__event {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 15px;
  }
  #about-us .row .statistic-block__line {
    width: 150px;
    height: 5px;
  }
}

@media only screen and (max-width: 576px) {
  #about-us .row .vertical-title {
    display: none;
  }
  #about-us .row .about-block {
    padding-right: 30px;
  }
  #about-us .row .about-block__title {
    font-size: 24px;
    max-width: 375px;
    margin: 0 auto;
  }
  #about-us .row .about-block__subtitle {
    margin: 20px 0 20px;
  }
  #about-us .row .about-block__subtitle span {
    font-size: 18px;
  }
  #about-us .row .about-block__subtitle div {
    width: 75px;
    margin-bottom: 5px;
  }
}
