.header-nav .toggler-icon {
  display: none;
}

.header-nav .nav-bar {
  margin: 0;
  padding: 0;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav .nav-bar .nav-item {
  position: relative;
  list-style: none;
  margin-left: 45px;
}

.header-nav .nav-bar .nav-item::after {
  margin: 0 auto;
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #037693;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.header-nav .nav-bar .nav-item:first-child {
  margin-left: 0;
}

.header-nav .nav-bar .nav-item:hover::after {
  width: 100%;
}

.header-nav .nav-bar .nav-item .nav-link {
  padding: 0;
  font-size: 22px;
  font-weight: 400;
  color: #f5f5f5;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}

.header-nav .nav-bar .nav-item .nav-link:hover {
  color: #037693;
}

@media only screen and (max-width: 1199px) {
  .header-nav .nav-bar .nav-item {
    margin-left: 30px;
  }
  .header-nav .nav-bar .nav-item .nav-link {
    font-size: 20px;
  }
}

@media only screen and (max-width: 991px) {
  .header-nav {
    position: relative;
  }
  .header-nav .toggler-icon {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 45px;
    background: transparent;
    border: 1.5px solid #fff;
    cursor: pointer;
    -webkit-transition: all, 1.0s;
    transition: all, 1.0s;
  }
  .header-nav .toggler-icon:hover {
    background: #0c6fd5;
  }
  .header-nav .toggler-icon div {
    width: 25px;
    height: 1.5px;
    background: #fff;
    margin-top: 5px;
    -webkit-transition: all, 0.3s;
    transition: all, 0.3s;
  }
  .header-nav .toggler-icon div:first-child {
    margin-top: 0;
  }
  .header-nav .toggler-icon_close div {
    width: 30px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
  }
  .header-nav .toggler-icon_close div:first-child {
    margin-top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .header-nav .toggler-icon_close div:nth-child(2) {
    margin-top: -2px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .header-nav .toggler-icon_close div:last-child {
    display: none;
  }
  .header-nav .nav-bar {
    display: none;
    position: absolute;
    top: 155%;
    left: 66%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100vw;
    z-index: 10;
    background: #121111;
  }
  .header-nav .nav-bar .nav-item {
    position: relative;
    margin-left: 0;
    padding-top: 20px;
    margin-bottom: 0;
    border-top: none;
    padding-bottom: 20px;
  }
  .header-nav .nav-bar .nav-item::after {
    position: relative;
    content: '';
    display: block;
    width: 0;
    margin: 0 auto;
    height: 2px;
    background: #037693;
    -webkit-transition: width .5s;
    transition: width .5s;
  }
  .header-nav .nav-bar .nav-item:hover {
    background: #000;
  }
  .header-nav .nav-bar .nav-item:hover::after {
    width: 100%;
  }
  .header-nav .nav-bar .nav-item .nav-link {
    color: #fff;
    text-align: center;
  }
}

@media only screen and (max-width: 567px) {
  .header-nav .toggler-icon {
    font-size: 26px;
  }
  .header-nav .nav-bar {
    left: 0;
    top: 125%;
    -webkit-transform: translateX(-30.5px);
    transform: translateX(-30.5px);
  }
  .header-nav .nav-bar .nav-item {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Black.ttf);
  font-weight: 900;
}

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Semibold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Thin.ttf);
  font-weight: 100;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Lato, Arial sans-serif;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.header {
  width: 100%;
  background: #121111;
}

.header .row {
  height: 210px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header .row .logo {
  width: 140px;
}

.header .row .user-bar {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.header .row .user-bar div {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #f5f5f5;
  cursor: pointer;
  -webkit-transition: all, .3s;
  transition: all, .3s;
}

.header .row .user-bar div span {
  font-size: 12px;
  font-weight: 400;
}

.header .row .user-bar div:last-child {
  margin-left: 20px;
}

.header .row .user-bar div:hover {
  color: #037693;
}

@media only screen and (max-width: 1199px) {
  .header .row {
    height: 200px;
  }
  .header .row .logo {
    width: 120px;
  }
}

@media only screen and (max-width: 991px) {
  .header .container {
    width: 100%;
  }
  .header .row {
    height: 100px;
    padding: 0 50px;
  }
  .header .row .logo {
    width: 70px;
  }
}

@media only screen and (max-width: 567px) {
  .header .row {
    height: 70px;
    padding: 0 30px;
  }
  .header .row .logo {
    display: none;
  }
}
