// to compile...

$blue: #037693;

@import "./_components/_nav-bar.scss";
@import "./_components/_lato.scss";

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  //border: 1px solid red;
}

body {
  font-family: Lato, Arial sans-serif;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  width: 100%;
  background: #121111;

  .row {
    height: 210px;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    .logo {
      width: 140px;
    }

    .user-bar {
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;

      div {
        display: -ms-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        color: #f5f5f5;
        cursor: pointer;
        -webkit-transition: all, .3s;
        transition: all, .3s;

        span {
          font-size: 12px;
          font-weight: 400;
        }

        &:last-child {
          margin-left: 20px;
        }

        &:hover {
          color: $blue;
        }
      }
    }
  }
}

@media only screen and (max-width : 1199px) {
  .header {
    .row {
      height: 200px;

      .logo {
        width: 120px;
      }
    }
  }
}

@media only screen and (max-width : 991px) {
  .header {
    .container {
      width: 100%;
    }

    .row {
      height: 100px;
      padding: 0 50px;

      .logo {
        width: 70px;
      }
    }
  }
}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 567px) {
  .header {
    .row {
      height: 70px;
      padding: 0 30px;

      .logo {
        display: none;
      }
    }
  }
}

@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 567px) {

}


@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 567px) {

}


@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 567px) {

}


@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 567px) {

}


@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 567px) {

}
