// to compile...

$blue: #037693;

@import "./_components/_nav-bar.scss";
@import "./_components/_lato.scss";

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  //border: 1px solid red;
}

body {
  font-family: Lato, Arial sans-serif;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  width: 100%;
  background: #121111;

  .row {
    height: 210px;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    .logo {
      width: 140px;
    }

    .user-bar {
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;

      div {
        display: -ms-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        color: #f5f5f5;
        cursor: pointer;
        -webkit-transition: all, .3s;
        transition: all, .3s;

        span {
          font-size: 12px;
          font-weight: 400;
        }

        &:last-child {
          margin-left: 20px;
        }

        &:hover {
          color: $blue;
        }
      }
    }
  }
}

@media only screen and (max-width : 1199px) {
  .header {
    .row {
      height: 200px;

      .logo {
        width: 120px;
      }
    }
  }
}

@media only screen and (max-width : 991px) {
  .header {
    .container {
      width: 100%;
    }

    .row {
      height: 100px;

      .logo {
        width: 70px;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        left: 7%;
      }

      .user-bar {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        right: 7%;
      }
    }
  }
}

@media only screen and (max-width : 567px) {
  .header {
    .row {
      height: 70px;

      .logo {
        display: none;
      }
    }
  }
}

#banner {
  width: 100%;
  padding-top: 350px;
  background: url(../img/banner.jpg) no-repeat center / cover;
  position: relative;

  .banner-info {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-top: 20px;

    &__title {
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      margin-bottom: 50px;

      h2 {
        margin: 0;
        font-size: 45px;
        font-weight: 700;
        color: #fff;
        margin-bottom: 20px;
        text-shadow: -4px 5px 0px rgba(0, 0, 0, 1);
      }

      &_line {
        display: -ms-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-right: 15px;

        div {
          height: 7px;
          border-radius: 5px;
          background: #fff;

          &:nth-child(1) {
            width: 12px;
            margin-right: 28px;
          }

          &:nth-child(2) {
            width: 24px;
            margin-right: 14px;
          }

          &:nth-child(3) {
            width: 338px;
          }
        }
      }
    }

    &__discr {
      font-size: 18px;
      font-weight: 400;
      color: #fff;
      margin-bottom: 100px;
    }

    &__btns {
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;

      div {
        font-size: 22px;
        font-weight: 400;
        color: #fff;
        padding: 10px 15px;
        cursor: pointer;
        border: 2px solid #fff;
        -webkit-transition: all, .5s;
        transition: all, .5s;

        &:hover {
          background: #fff;
          color: $blue;
        }

        &:nth-child(2) {
          margin: 0 20px;
        }
      }
    }
  }

  .banner-iphone {
    img {
      width: 90%;
      margin-left: 30px;
    }
  }

  &::before {
    background: rgba(0, 0, 0, 0.6);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

@media only screen and (max-width : 991px) {
  #banner {
    padding-top: 150px;
    padding-bottom: 100px;

    .banner-info {
      margin-top: 0px;

      &__title {
        margin-bottom: 30px;

        h2 {
          font-size: 42px;
          margin-bottom: 5px;
        }

        &_line {
          margin-right: 10px;

          div {
            height: 5px;

            &:nth-child(1) {
              width: 7px;
              margin-right: 18px;
            }

            &:nth-child(2) {
              width: 14px;
              margin-right: 10px;
            }

            &:nth-child(3) {
              width: 250px;
            }
          }
        }
      }

      &__discr {
        margin-bottom: 75px;
      }

      &__btns {

        div {
          font-size: 18px;
        }
      }
    }
  }
}

@media only screen and (max-width : 767px) {
  #banner {
    padding-top: 100px;
    padding-bottom: 75px;

    .banner-info {
      margin-top: 0px;

      &__title {
        margin-bottom: 30px;

        h2 {
          font-size: 36px;
          margin-bottom: 5px;
        }

        &_line {
          margin-right: 3px;

          div {
            height: 5px;

            &:nth-child(1) {
              width: 5px;
              margin-right: 15px;
            }

            &:nth-child(2) {
              width: 10px;
              margin-right: 10px;
            }

            &:nth-child(3) {
              width: 150px;
            }
          }
        }
      }

      &__discr {
        margin-bottom: 55px;
      }

      &__btns {

        div {
          font-size: 16px;
        }
      }
    }
  }
}

@media only screen and (max-width : 567px) {
  #banner {
    padding-top: 75px;
    padding-bottom: 50px;

    .banner-info {
      margin-top: 0px;

      &__title {
        margin-bottom: 30px;

        h2 {
          font-size: 32px;
        }

        &_line {
          display: none;
        }
      }

      &__discr {
        margin-bottom: 50px;
        font-size: 16px;
      }

      &__btns {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;

        div {
          margin: 10px;

          &:nth-child(2) {
            margin: 10px;
          }
        }
      }
    }
  }
}

.section-title {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 150px;
  margin-bottom: 100px;

  &__heading {
    margin: 0;
    font-size: 52px;
    font-weight: 300;
    color: $blue;
    text-align: center;
  }

  &__line {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    div {
      margin-left: 4px;
      margin-top: 5px;
      height: 4px;
      border-radius: 5px;
      background: $blue;

      &:nth-child(1) {
        width: 100px;
        margin-right: 12px;
      }

      &:nth-child(2) {
        width: 17px;
      }
    }
  }
}

#howItWorks {
  padding-bottom: 150px;
}

.howItWorks__block {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 220px;

  div {
    width: 162px;
    height: 162px;
    border: 1px solid $blue;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #fff;
    -webkit-transition: all, .5s;
    transition: all, .5s;

    img {
      height: 45%;
    }
  }

  span {
    margin-top: 40px;
    font-size: 20px;
    font-weight: 400;
    color: $blue;
    text-align: center;
    -webkit-transition: all, .5s;
    transition: all, .5s;
  }

  &:hover {
    div{
      background: $blue;

      img {
        -webkit-filter: brightness(0%);
                filter: brightness(0%);
      }
    }

    span {
      color: #000;
    }
  }
}

@media only screen and (max-width : 1199px) {
  .section-title {
    margin-top: 120px;
    margin-bottom: 100px;

    &__heading {
      font-size: 46px;
    }

    &__line {
      div {
        margin-left: 4px;
        margin-top: 4px;

        &:nth-child(1) {
          width: 90px;
          margin-right: 10px;
        }

        &:nth-child(2) {
          width: 15px;
        }
      }
    }
  }

  #howItWorks {
    padding-bottom: 120px;
  }

  .howItWorks__block {
    width: 220px;

    div {
      width: 162px;
      height: 162px;
    }

    span {
      margin-top: 30px;
      font-size: 20px;
    }
  }
}

@media only screen and (max-width : 991px) {
  .section-title {
    margin-top: 100px;
    margin-bottom: 75px;

    &__heading {
      font-size: 40px;
    }

    &__line {
      div {
        height: 4px;
        margin-left: 3px;
        margin-top: 2px;

        &:nth-child(1) {
          width: 75px;
          margin-right: 7px;
        }

        &:nth-child(2) {
          width: 10px;
        }
      }
    }
  }

  #howItWorks {
    padding-bottom: 100px;

    .container {
      .row:nth-child(2) {
        margin-top: -30px;
      }
    }
  }

  .howItWorks__block {
    width: 210px;
    margin: 30px;


    div {
      width: 162px;
      height: 162px;
    }

    span {
      margin-top: 25px;
      font-size: 18px;
    }
  }
}

@media only screen and (max-width : 767px) {
  .section-title {
    margin-top: 75px;
    margin-bottom: 50px;

    &__heading {
      font-size: 36px;
    }

    &__line {
      div {
        height: 3px;
        margin-left: 3px;
        margin-top: 2px;

        &:nth-child(1) {
          width: 50px;
          margin-right: 5px;
        }

        &:nth-child(2) {
          width: 10px;
        }
      }
    }
  }

  #howItWorks {
    padding-bottom: 75px;
  }

  .howItWorks__block {
    width: 190px;


    div {
      width: 125px;
      height: 125px;
    }

    span {
      margin-top: 20px;
      font-size: 16px;
    }
  }
}

@media only screen and (max-width : 567px) {
  .section-title {
    margin-top: 50px;
    margin-bottom: 40px;

    &__heading {
      font-size: 32px;
    }

    &__line {
      div {
        height: 2px;
        margin-left: 2px;
        margin-top: 2px;

        &:nth-child(1) {
          width: 50px;
          margin-right: 5px;
        }

        &:nth-child(2) {
          width: 10px;
        }
      }
    }
  }

  #howItWorks {
    padding-bottom: 50px;

    .container {
      .row:nth-child(2) {
        margin-top: -25px;
      }
    }
  }

  .howItWorks__block {
    width: 190px;
    margin: 25px 0;

    span {
      margin-top: 10px;
    }
  }
}

.vertical-title {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;

  &__sircle {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #fff;
  }

  &__line {
    width: 95px;
    height: 1.5px;
    background: #fff;
  }

  &__text {
    font-size: 24px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 5px;
    margin-left: 7px;
  }
}

#interaction {
  width: 100%;
  background: #037693;
  padding: 75px 0;

  .row {
    position: relative;

    .vertical-title {
      top: 50px;
      left: -72px;
    }

    .interaction-block {
      color: #fff;
      padding-right: 125px;
      margin-bottom: 25px;

      &__title {
        font-size: 42px;
        font-weight: 600;
        margin: 0;
      }

      &__subtitle {
        display: -ms-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        margin: 25px 0 50px;

        span {
          font-size: 24px;
          font-weight: 300;
        }

        div {
          width: 125px;
          height: 1px;
          background: #fff;
          margin-bottom: 8px;
          margin-left: 5px;
        }
      }

      &__text {
        font-size: 16px;
        font-weight: 300;
      }
    }

    .inter-blocks {
      position: relative;

      .inter-block {
        position: absolute;
        width: 200px;
        height: 200px;
        border: 1.5px solid #f1b451;
        border-radius: 5px;
        display: -ms-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);

        &__inside {
          width: 175px;
          height: 175px;
          background: #f1b451;
          border-radius: 5px;

          &_rotate {
            -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
            display: -ms-flex;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            margin-left: 11px;
            margin-top: 15px;

            img {
              width: 75px;
            }

            span {
              width: 110px;
              margin-top: 5px;
              font-size: 16px;
              font-weight: 400;
              text-align: center;
            }

          }
        }

        &:nth-child(1) {
          top: 10px;
          left: -20px;
        }

        &:nth-child(2) {
          top: 269px;
          left: -20px;
        }

        &:nth-child(3) {
          top: 139px;
          left: 145px;
        }
      }
    }
  }
}

@media only screen and (max-width : 1199px) {
  #interaction {
    padding: 100px 0;

    .row {
      .vertical-title {
        top: 150px;
        left: -79px;
      }

      .interaction-block {
        margin-top: 90px;
        margin-bottom: 60px;
      }

      .inter-blocks {
        position: relative;

        .inter-block {
          &:nth-child(1) {
            top: 10px;
            left: -20px;
          }

          &:nth-child(2) {
            top: 269px;
            left: -20px;
          }

          &:nth-child(3) {
            top: 528px;
            left: -20px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width : 991px) {
  #interaction {
    padding: 75px 0;

    .row {
      .vertical-title {
        top: 75px;
        left: 75%;
      }

      .interaction-block {
        margin-top: 20px;
        padding-right: 125px;
        margin-bottom: 225px;

        &__title {
          font-size: 34px;
          text-align: center;
        }

        &__subtitle {
          margin: 30px 0 30px;

          span {
            font-size: 20px;
          }

          div {
            width: 100px;
            margin-bottom: 7px;
            margin-left: 3px;
          }
        }

        &__text {
          font-size: 14px;
        }
      }

      .inter-blocks {
        .inter-block {
          width: 150px;
          height: 150px;

          &__inside {
            width: 135px;
            height: 135px;

            &_rotate {
              margin-left: 8px;
              margin-top: 12px;

              img {
                width: 50px;
              }

              span {
                font-size: 15px;
              }

            }
          }

          &:nth-child(1) {
            top: -160px;
            left: 80px;
          }

          &:nth-child(2) {
            top: -160px;
            left: 275px;
          }

          &:nth-child(3) {
            top: -160px;
            left: 470px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width : 767px) {
  #interaction {
    padding: 50px 0;

    .row {
      .vertical-title {
        top: 75px;
        left: 70%;
      }

      .interaction-block {
        margin-top: 20px;
        padding-right: 125px;
        margin-bottom: 225px;

        &__title {
          font-size: 28px;
        }
      }

      .inter-blocks {
        .inter-block {

          &:nth-child(1) {
            top: -160px;
            left: 40px;
          }

          &:nth-child(2) {
            top: -160px;
            left: 190px;
          }

          &:nth-child(3) {
            top: -160px;
            left: 345px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width : 576px) {
  #interaction {
    .row {
      .vertical-title {
        display: none;
      }

      .interaction-block {
        margin-top: 20px;
        padding-right: 30px;
        margin-bottom: 325px;

        &__title {
          font-size: 24px;
          max-width: 375px;
          margin: 0 auto;
        }

        &__subtitle {
          margin: 20px 0 20px;

          span {
            font-size: 18px;
          }

          div {
            width: 75px;
            margin-bottom: 5px;
          }
        }
      }

      .inter-blocks {
        width: 300px;
        left: 50%;
        -webkit-transform: translateX(-51%);
                transform: translateX(-51%);

        .inter-block {
          &:nth-child(1) {
            top: -160px;
            left: -20px;
          }

          &:nth-child(2) {
            top: -160px;
            left: 176px;
          }

          &:nth-child(3) {
            top: -284px;
            left: 79px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width : 445px) {
  #interaction {
    .row {
      .interaction-block {
        margin-bottom: 630px;
      }

      .inter-blocks {
        width: 200px;
        left: 50%;
        -webkit-transform: translateX(-51%);
                transform: translateX(-51%);

        .inter-block {
          &:nth-child(1) {
            top: -570px;
            left: 27px;
          }

          &:nth-child(2) {
            top: -374px;
            left: 27px;
          }

          &:nth-child(3) {
            top: -178px;
            left: 27px;
          }
        }
      }
    }
  }
}

.features-block {
  margin-bottom: 150px;

  &__item {
    width: 350px;
    height: 250px;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;

    img {
      max-width: 50px;
      max-height: 50px;
    }

    span {
      font-size: 28px;
      font-weight: 700;
      color: $blue;
      text-align: center;
      margin-top: 30px;
    }

    &::after, &::before {
      content: ' ';
      position: absolute;
      background: $blue;
      display: block;
    }

    &::after {
      width: 275px;
      height: 1.5px;
      left: 50%;
      bottom: 0;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
    }

    &::before {
      width: 1.5px;
      height: 175px;
      top: 50%;
      right: 0;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
    }

    &:nth-child(1) {
      &::after {
      }

      &::before {
      }
    }

    &:nth-child(2) {
      &::after {
      }

      &::before {
      }
    }

    &:nth-child(3) {
      &::after {
      }

      &::before {
        display: none;
      }
    }

    &:nth-child(4) {
      &::after {
        display: none;
      }

      &::before {
      }
    }

    &:nth-child(5) {
      &::after {
        display: none;
      }

      &::before {
      }
    }

    &:nth-child(6) {
      &::after {
        display: none;
      }

      &::before {
        display: none;
      }
    }
  }
}

@media only screen and (max-width : 1199px) {
  .features-block {
    margin-bottom: 120px;

    &__item {
      width: 320px;
      height: 220px;

      img {
        max-width: 50px;
        max-height: 50px;
      }

      span {
        font-size: 26px;
        margin-top: 25px;
      }

      &::after {
        width: 245px;
      }

      &::before {
        height: 145px;
      }
    }
  }
}

@media only screen and (max-width : 991px) {
  .features-block {
    margin-bottom: 100px;

    &__item {
      width: 350px;
      height: 250px;

      span {
        font-size: 26px;
        margin-top: 20px;
      }

      &::after {
        width: 275px;
      }

      &::before {
        height: 175px;
      }

      &:nth-child(1) {
        &::after {
        }

        &::before {
        }
      }

      &:nth-child(2) {
        &::after {
        }

        &::before {
          display: none;
        }
      }

      &:nth-child(3) {
        &::after {
        }

        &::before {
          display: block;
        }
      }

      &:nth-child(4) {
        &::after {
          display: block;
        }

        &::before {
          display: none;
        }
      }

      &:nth-child(5) {
        &::after {
          display: none;
        }

        &::before {
        }
      }

      &:nth-child(6) {
        &::after {
          display: none;
        }

        &::before {
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width : 767px) {
  .features-block {
    margin-bottom: 75px;

    &__item {
      width: 270px;
      height: 175px;

      span {
        font-size: 24px;
        margin-top: 15px;
      }

      &::after {
        width: 220px;
      }

      &::before {
        height: 120px;
      }
    }
  }
}

@media only screen and (max-width : 567px) {
  .features-block {
    margin-bottom: 10px;

    &__item {
      width: 350px;
      height: 250px;

      span {
        font-size: 26px;
        margin-top: 15px;
      }

      &::after {
        width: 275px;
      }

      &::before {
        height: 175px;
      }

      &:nth-child(1) {
        &::after {
        }

        &::before {
          display: none;
        }
      }

      &:nth-child(2) {
        &::after {
        }

        &::before {
          display: none;
        }
      }

      &:nth-child(3) {
        &::after {
        }

        &::before {
          display: none;
        }
      }

      &:nth-child(4) {
        &::after {
          display: block;
        }

        &::before {
          display: none;
        }
      }

      &:nth-child(5) {
        &::after {
          display: block;
        }

        &::before {
          display: none;
        }
      }

      &:nth-child(6) {
        &::after {
          display: none;
        }

        &::before {
          display: none;
        }
      }
    }
  }
}

#partners {
  width: 100%;
  background: url(../img/partners__bg.jpg) no-repeat center / cover;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
  }

  .section-title {
    margin-top: 100px;
    margin-bottom: 75px;

    &__heading {
      color: #fff;
    }

    &__line {
      div {
        background: #fff;
      }
    }
  }

  .slider-block {
    position: relative;
    width: inherit;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);

    .arrow {
      width: 30px;
      height: 50px;
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      border-radius: 5px;
      background: transparent;
      cursor: pointer;
      position: absolute;
      top: 50%;
      -webkit-transition: all, .5s;
      transition: all, .5s;

      i {
        font-size: 50px;
        color: #999;
        -webkit-transition: all, .5s;
        transition: all, .5s;
      }

      &:hover {
        background: $blue;

        i {
          color: #fff;
        }
      }
    }

    .next_arrow {
      right: -3%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
    }

    .prev_arrow {
      left: -3%;
      -webkit-transform: translate(50%, -50%);
              transform: translate(50%, -50%);
    }
  }

  .partners-slider {
    margin-bottom: 100px;

    &__slide {
      width: 225px;
      height: 200px;
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;

      a {
        width: 75%;
        outline: none !important;

        img {
          width: 100%;
          -webkit-filter: grayscale(100%);
                  filter: grayscale(100%);
          -webkit-transition: all, .5s;
          transition: all, .5s;
        }
      }

      &:hover {
        a {
          img {
            -webkit-filter: grayscale(0%);
                    filter: grayscale(0%);
          }
        }
      }
    }
  }
}

@media only screen and (max-width : 1199px) {
  #partners {
    .slider-block {
      .next_arrow {
        right: -20px;
      }

      .prev_arrow {
        left: -20px;
      }
    }

    .partners-slider {
      &__slide {
        width: 192px;
        height: 150px;
      }
    }
  }
}

@media only screen and (max-width : 991px) {
  #partners {
    .section-title {
      margin-top: 75px;
      margin-bottom: 50px;
    }

    .partners-slider {
      margin-bottom: 75px;

      &__slide {
        width: 180px;
      }
    }
  }
}

@media only screen and (max-width : 576px) {
  #partners {
    .section-title {
      margin-top: 50px;
      margin-bottom: 30px;
    }

    .partners-slider {
      margin-bottom: 30px;

      &__slide {
        width: 150px;
      }
    }
  }
}

@media only screen and (max-width : 569px) {
  #partners {
    .partners-slider {
      &__slide {
        width: 170px;
      }
    }
  }
}

@media only screen and (max-width : 479px) {
  #partners {
    .partners-slider {
      &__slide {
        width: 195px;
      }
    }
  }
}

@media only screen and (max-width : 425px) {
  #partners {
    .partners-slider {
      &__slide {
        width: 165px;
      }
    }
  }
}

@media only screen and (max-width : 350px) {
  #partners {
    .partners-slider {
      &__slide {
        width: 135px;
      }
    }
  }
}

#events {
  width: 100%;
  background: #e3e3e3;
  padding-bottom: 120px;
}

.events {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  .event {
    width: 350px;
    height: 500px;
    background: #fff;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 20px;
    -webkit-transition: all, .3s;
    transition: all, .3s;
    margin: 0 10px;
    -webkit-box-shadow: 0px 0px 25px 3px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 25px 3px rgba(0,0,0,0.75);

    &__title {
      width: inherit;
      height: 200px;
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }

      h3 {
        font-size: 46px;
        font-weight: 300;
        color: #fff;
        text-align: center;
        z-index: 10;
        text-transform: uppercase;
        -webkit-transition: all, .5s;
        transition: all, .5s;

        span {
          font-weight: 700;
        }
      }
    }

    &__line {
      width: inherit;
      height: 5px;
      margin-top: 5px;
    }

    &__icon {
      height: 60px;
      margin-top: 20px;
      -webkit-transition: all, .5s;
      transition: all, .5s;
    }

    &__discr {
      margin: 0;
      margin-top: 15px;
      font-size: 16px;
      font-weight: 400;
      color: #000;
      text-align: center;
    }

    &__btn {
      padding: 10px 20px;
      border-radius: 30px;
      margin-top: 25px;
      font-size: 20px;
      font-weight: 600;
      color: #fff;
      text-decoration: none;
      -webkit-transition: all, .5s;
      transition: all, .5s;

      &:hover {
        text-decoration: none;
      }
    }

    &:nth-child(1) {
      .event__title {
        background: url(../img/event__bg_01.jpg) no-repeat center / cover;

        &::before {
          background: rgba(76, 165, 154, 0.8);
        }
      }

      .event__line {
        background: #4ca59a;
      }

      .event__btn {
        background: #4ca59a;

        &:hover {
          background: darken(#4ca59a, 15%);
        }
      }
    }

    &:nth-child(2) {
      .event__title {
        background: url(../img/event__bg_02.jpg) no-repeat center / cover;

        &::before {
          background: rgba(242, 98, 80, 0.8);
        }
      }

      .event__line {
        background: #f26250;
      }

      .event__btn {
        background: #f26250;

        &:hover {
          background: darken(#f26250, 15%);
        }
      }
    }

    &:nth-child(3) {
      .event__title {
        background: url(../img/event__bg_03.jpg) no-repeat center / cover;

        &::before {
          background: rgba(240, 167, 101, 0.8);
        }
      }

      .event__line {
        background: #f0a765;
      }

      .event__btn {
        background: #f0a765;

        &:hover {
          background: darken(#f0a765, 15%);
        }
      }
    }
  }

  .event_active {
    width: 370px;
    height: 550px;
    margin: -25px -10px;
    z-index: 100;
    padding: 0 30px;

    .event__title {
      h3 {
        font-size: 56px;
      }
    }

    .event__icon {
      height: 75px;
    }

    .event__btn {
      padding: 15px 30px;
    }
  }
}

@media only screen and (max-width : 1199px) {
  #events {
    padding-bottom: 100px;
  }

  .events {
    .event {
      width: 270px;
      height: 520px;

      &__title {
        height: 200px;

        h3 {
          font-size: 38px;
        }
      }

      &__icon {
        height: 50px;
      }

      &__discr {
        font-size: 16px;
      }
    }

    .event_active {
      width: 300px;
      height: 570px;

      .event__title {
        h3 {
          font-size: 46px;
        }
      }

      .event__icon {
        height: 65px;
      }
    }
  }
}

@media only screen and (max-width : 991px) {
  #events {
    padding-bottom: 75px;
  }

  .events {
    .event {
      width: 320px;
      height: 460px;
      padding: 0 20px;
      margin: 10px 10px;

      &__title {
        height: 175px;

        h3 {
          font-size: 40px;
        }
      }

      &__icon {
        height: 60px;
      }

      &__discr {
        font-size: 16px;
      }

      .event__btn {
        padding: 10px 20px;
      }
    }

    .event_active {
      width: 320px;
      height: 460px;
      padding: 0 20px;
      margin: 10px 10px;

      .event__title {
        h3 {
          font-size: 40px;
        }
      }

      .event__icon {
        height: 60px;
      }

      .event__btn {
        padding: 10px 20px;
      }
    }
  }
}

@media only screen and (max-width : 767px) {
  #events {
    padding-bottom: 50px;
  }

  .events {
    .event {
      margin: 10px 10px;
    }

    .event_active {
      margin: 10px 10px;
    }
  }
}

@media only screen and (max-width : 350px) {
  #events {
    padding-bottom: 50px;
  }

  .events {
    .event {
      width: 275px;
      height: 460px;
      margin: 10px 10px;

      &__title {
        height: 150px;
      }
    }

    .event_active {
      width: 275px;
      height: 460px;
      margin: 10px 10px;
    }
  }
}


@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 567px) {

}


@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 567px) {

}


@media only screen and (max-width : 1199px) {

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 567px) {

}
