.header-nav {
  .toggler-icon {
    display: none;
  }

  .nav-bar {
    margin: 0;
    padding: 0;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    .nav-item {
      position: relative;
      list-style: none;
      margin-left: 45px;

      &::after {
        margin: 0 auto;
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: $blue;
        -webkit-transition: width .3s;
        transition: width .3s;
      }

      &:first-child {
        margin-left: 0;
      }

      &:hover {
        &::after {
          width: 100%;
        }
      }

      .nav-link {
        padding: 0;
        font-size: 22px;
        font-weight: 400;
        color: #f5f5f5;
        -webkit-transition: all, 0.3s;
        transition: all, 0.3s;

        &:hover {
          color: $blue;
        }
      }
    }
  }
}

@media only screen and (max-width : 1199px) {
  .header-nav {
    .nav-bar {
      .nav-item {
        margin-left: 30px;

        .nav-link {
          font-size: 20px;
        }
      }
    }
  }
}

@media only screen and (max-width : 991px) {
  .header-nav {
    position: relative;
    width: 100%;

    .toggler-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 45px;
      height: 45px;
      border-radius: 45px;
      background: transparent;
      border: 1.5px solid #fff;
      cursor: pointer;
      -webkit-transition: all, 1.0s;
      transition: all, 1.0s;

      &:hover {
        background: #0c6fd5;
      }

      div {
        width: 25px;
        height: 1.5px;
        background: #fff;
        margin-top: 5px;
        -webkit-transition: all, 0.3s;
        transition: all, 0.3s;

        &:first-child {
          margin-top: 0;
        }
      }
    }

    .toggler-icon_close {
      div {
        width: 30px;
        height: 3px;
        background: #fff;
        margin-top: 5px;

        &:first-child {
          margin-top: 0;
          -webkit-transform: rotate(45deg);
                  transform: rotate(45deg);
        }

        &:nth-child(2) {
          margin-top: -2px;
          -webkit-transform: rotate(-45deg);
                  transform: rotate(-45deg);
        }

        &:last-child {
          display: none;
        }
      }
    }

    .nav-bar {
      display: none;
      position: absolute;
      top: 45px;
      left: 0%;
      width: 100%;
      z-index: 10;
      background: #121111;

      .nav-item {
        position: relative;
        margin-left: 0;
        padding-top: 20px;
        margin-bottom: 0;
        border-top: none;
        padding-bottom: 20px;

        &::after {
          position: relative;
          content: '';
          display: block;
          width: 0;
          margin: 0 auto;
          height: 2px;
          background: $blue;
          -webkit-transition: width .5s;
          transition: width .5s;
        }

        &:hover {
          background: #000;

          &::after {
            width: 100%;
          }
        }

        .nav-link {
          color: #fff;
          text-align: center;
        }
      }
    }
  }
}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 567px) {
  .header-nav {
    .toggler-icon {
      font-size: 26px;
      left: 15%;
    }

    .nav-bar {
      left: 0;
      top: 30px;
      
      .nav-item {
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }
  }
}
